<%= render "shared/header" %>

<div class="toppage_map">
  <%= image_tag("world_map.png", class: "world_map", id: "world_map") %>
    <div class='link_maps'>
      <div class="link_europe">
        <%= link_to 'Europe', id: "link_europe" %>
      </div>
      <div class="link_azia_oceania">
        <%= link_to "Azia & Oceania", id: "link_azia_oceania" %>
      </div>
      <div class="link_africa">
        <%= link_to "Africa", id: "link_africa" %>
      </div>
      <div class="link_northamerica">
        <%= link_to "NorthAmerica", id: "link_northamerica" %>
      </div>
      <div class="link_southamerica">
        <%= link_to "SouthAmerica", id: "link_southamerica" %>
      </div>
    </div>
</div>

<div class='all_description' >
  <div class='description' >
    <div class='description_title'>
      What is World Dialogue?
    </div>
      <p> 
        World Dialogue is the application to know the world. <br>
        We can share or discuss here with people all over the world <br> 
        about your or others country things, <br>
        for example culture, sports, travel and somthing like these. <br>
        If you would like to know the world, Dialogue here.
      </p>
  </div>

  <div class='how_to_use' >
    <div class='how_to_use_title'> 
      How to Dialogue?
    </div>
      <p> 
        1. You have to create your account, so click "New Account" on the toppage and fill out the form. <br>
        2. You can click 'Post' on the toppage. <br>
        3. You have to fill out all of theme, text and "to country". <br>
          "to country" is, for example, if you would like to talk about Japan, you choose 'Japan'. <br>
          Then your post will be reflected on Japan thread and you and other people can comment on the post. <br>
      </p>
  </div>
</div>